<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Xing loteria prezentowa</title>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="${@environment.getProperty('server.servlet.contextPath')}">X-ing.pl</a>
	</nav>
	<div class="container">
		<h1>Prezenciki</h1>

		<form th:action="@{/entry/self/edit}" th:object="${entry}" method="POST">
			Imię
			<input style="width:85%" type="text" th:field="*{name}" placeholder=${entry.name} class="form-control mb-4 col-8" th:readonly=true/>
			Email
			<input style="width:85%" type="text" th:field="*{email}" placeholder=${entry.email} class="form-control mb-4 col-8" th:readonly=true/>
			Twoje wymarzone prezenty (z linkami)
<!-- 			<input style="width:85%" type="text" th:field="*{presents1}" placeholder=${entry.presents1} class="form-control mb-4 col-16"/> -->
<!-- 			<input style="width:85%" type="text" th:field="*{presents2}" placeholder=${entry.presents2} class="form-control mb-4 col-16"/> -->
<!-- 			<input style="width:85%" type="text" th:field="*{presents3}" placeholder=${entry.presents3} class="form-control mb-4 col-16"/> -->
			<tr style="width:100%" th:each="present : ${entry.presents}">
				<input style="width:85%;display:inline-block" type="text" th:value="${present}" placeholder=${present} class="form-control mb-4 col-16" th:readonly=true/>
<!-- 				<form th:action="@{/entry/self/edit/present/{pr}(pr=${present})}" th:object="${entry}" method="DELETE"> -->
					<button th:formaction="@{/entry/self/edit/deletePresent/{pr}(pr=${present})}" th:object="${entry}" method="DELETE" style="width:5%;display:inline-block;background-color:red;border-radius:20%" type="submit">X</button>
<!-- 				</form> -->
			</tr>
			<input style="width:85%" type="text" th:field="*{nextPresent}" placeholder="" class="form-control mb-4 col-16"/>
			<button type="submit" class="btn btn-info col-2">Zapisz zmiany</button>
		</form>
		<hr>
	</div>
</body>

</html>