<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Xing loteria prezentowa</title>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<h1>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="${@environment.getProperty('server.servlet.contextPath')}">X-ing.pl</a>
	</nav>
</h1>


<div class="col-xs-12 col-sm-6 col-md-6">
	<a href="./entry/add" class="btn btn-info">Dodaj swój prezencik</a>
	<a href="./entry/self" class="btn btn-info">Zmień swój prezencik</a>
</div>
<div id="countdown" class="countdown-template">TODOS</div>
<main role="main" class="container">
	<div>W tym roku dajemy wybieramy sobie prezenty do 150zł</div>
	<div>Do piątku wpisujemy prezenty jakie chcemy dostać od Mikołaja</div>
	<div>W sobotę dostaniecie maila z osobą, którą będziecie obdarowywali i najlepszymi prezentami</div>
	<div class="starter-template">
		<h1>Do tej pory swoje prezenciki wypełnili:</h1>
	</div>

	<ol>
		<li th:each="name : ${names}" th:text="${name}"></li>
	</ol>
</main>
</body>
<script>
	function countdownTimer() {
		const difference = +new Date("2022-12-03") - +new Date();
		let remaining = "Time's up!";

		if (difference > 0) {
			const parts = {
				days: Math.floor(difference / (1000 * 60 * 60 * 24)),
				hours: Math.floor((difference / (1000 * 60 * 60)) % 24),
				minutes: Math.floor((difference / 1000 / 60) % 60),
			};
			remaining = Object.keys(parts).map(part => {
				return `${parts[part]} ${part}`;
			}).join(" ");
		}

		document.getElementById("countdown").innerHTML = "Pozostało: " + remaining;
	}
	countdownTimer();
	setInterval(countdownTimer, 1000);
</script>

</html>